:host {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

#main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 40px
}

#shelf {
    /* the biggest shelf ever */
    position: relative;
    width: 318px;
    height: 383px;
    display: grid;
    gap: 34px;
    padding: 34px 19px 0px 19px;
    grid-template-columns: repeat(10, 28px);
    grid-template-rows: repeat(3, 87px);
    grid-column-gap: 0px;
    grid-row-gap: 34px;
    /* background-image: url("data:image/svg+xml,%3Csvg width='318' height='383' viewBox='0 0 318 383' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.000488281H318V383H0V0.000488281Z' fill='%23D7D7D7' /%3E%3Cpath d='M15 15.0005V368H19V15.0005H15Z' fill='%23C6C6C6' /%3E%3Cpath d='M303 15.0005V368H299V15.0005H303Z' fill='%23C6C6C6' /%3E%3Cpath d='M303 136H15L18.9927 140H299.007L303 136Z' fill='%23D3D3D3' /%3E%3Cpath d='M303 15.0005H15L18.9927 19.0005H299.007L303 15.0005Z' fill='%23D3D3D3' /%3E%3Cpath d='M303 258H15L18.9927 262H299.007L303 258Z' fill='%23D3D3D3' /%3E%3Cpath d='M303 368H15L18.9927 364H299.007L303 368Z' fill='%23D3D3D3' /%3E%3Cpath d='M15 368H318V383H15V368Z' fill='%23E0E0E0' /%3E%3Cpath d='M15 242H318V258H15V242Z' fill='%23E0E0E0' /%3E%3Cpath d='M15 121H318V136H15V121Z' fill='%23E0E0E0' /%3E%3Cpath d='M15 0.000488281H318V15.0005H15V0.000488281Z' fill='%23E0E0E0' /%3E%3Cpath d='M0 0.000488281H15V383H0V0.000488281Z' fill='%23E0E0E0' /%3E%3Cpath d='M303 0.000488281H318V383H303V0.000488281Z' fill='%23E0E0E0' /%3E%3C/svg%3E"); */
}

#shelf>svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#shelf>div {
    /* books divs from ngfor */
    display: inline-flex;
}

#shelf>div>div {
    /* shelf spots */
    /* border: 1px solid red; */
    width: 28px;
    height: 87px;
}

/* BOOK STATUSES */
/* none */
.none {
    display: flex;
    align-items: center;
    justify-content: center;
}

.none:hover {
    cursor: pointer;
}

.inner-none {
    display: flex;
    visibility: hidden;
    opacity: 0;
    width: 24px;
    height: 83px;
    font-size: 22px;
    font-weight: 300;
    border: 1px dashed var(--surface-invert-color);
    color: var(--surface-invert-color);
    justify-content: center;
    align-items: center;
    transition: opacity 0.1s ease-in;
}

.none:hover .inner-none {
    visibility: visible;
    opacity: 1;
}

/* book coloring */

.gray-book {
    background-color: gray;
}

.red-book {
    background-color: red;
}

.green-book {
    background-color: green;
}

.blue-book {
    background-color: blue;
}

/* book creation */

.creation {
    position: relative;
}

.creation>svg {
    transition: transform 300ms ease-out;
}

.creation>svg:hover {
    cursor: pointer;
    transform: translateY(-6px);
}

.creation-popup {
    min-height: fit-content;
    width: 250px;
    position: absolute;
    border-radius: 10px;
    top: -60px;
    right: -115px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cancel-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    width: 33px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--surface-secondary-color);
    border: 1px solid var(--text-tertiary-color);
}

.cancel-btn>svg {
    stroke-width: 2px;
    stroke: var(--text-secondary-color);
    flex-shrink: 0;
}

.cancel-btn>svg>path {
    stroke-width: 2px;
    stroke: var(--text-secondary-color);
    flex-shrink: 0;
}

.cancel-btn:hover {
    border: 1px solid #8CA1F1;
}

.colors-bruh {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.gray {
    background-color: #e4e4e4;
    fill: #dddddd;
}

.red {
    background-color: #d88a8a;
    fill: #d88a8a;
}

.green {
    background-color: #96dab0;
    fill: #96dab0;
}

.blue {
    background-color: #8c9bd4;
    fill: #8c9bd4;
}

.colors-bruh {
    display: flex;
    width: 45px;
    height: 33px;
}

.active-color {
    position: relative;
    min-width: fit-content;
    padding: 0px 7px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: var(--surface-secondary-color);
    border: 1px solid var(--text-tertiary-color);
    color: #DEDEDE;
}

.active-color:hover {
    cursor: pointer;
}

.active-color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-tertiary-color);
}

.active-color-arrow>path {
    fill: var(--text-tertiary-color);
}

.rotate-svg {
    transform: rotate(90deg);
}

.color-pickers {
    display: flex;
    position: absolute;
    top: -36px;
    height: 28px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: var(--surface-secondary-color);
    border: 1px solid var(--text-tertiary-color);
}

.hidden-color-pickers {
    display: none;
}

.color-picker {
    appearance: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid var(--surface-tertiary-color);
}

.color-picker:hover {
    cursor: pointer;
    border: 1px solid #8CA1F1;
}

.checked-color-picker {
    border: 1px solid #8CA1F1;
    outline: 1px solid #8CA1F1;
}

.upload-btn {
    letter-spacing: -0.42px;
    height: 33px;
    border-radius: 10px;
    background-color: var(--surface-secondary-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid var(--text-tertiary-color);
    gap: 12px;
    padding: 0px 14px;
}

.upload-btn>svg {
    display: block;
    fill: var(--text-secondary-color);
    flex-shrink: 0;
}

.upload-btn:hover {
    border: 1px solid #8CA1F1;
}

.upload-btn>span {
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-secondary-color);
    white-space: nowrap;
}

.uploaded-btn {
    background-color: var(--surface-tertiary-color);
    border: 0px solid var(--surface-tertiary-color);
}

.uploaded-btn>span {
    color: var(--text-tertiary-color);
}

.uploaded-btn>svg {
    fill: var(--text-tertiary-color);
}

.uploaded-btn>svg>path {
    fill: var(--text-tertiary-color);
}

.uploaded-btn:hover {
    cursor: not-allowed;
    border: 1px solid var(--text-tertiary-color);
}

.create-btn {
    height: 33px;
    width: 33px;
    border-radius: 10px;
    background-color: var(--surface-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid var(--text-tertiary-color);
}

.create-btn>svg {
    display: block;
    fill: var(--text-secondary-color);
    flex-shrink: 0;
}

.create-btn>svg>path {
    fill: var(--text-secondary-color);
}

.create-btn:hover {
    border: 1px solid #8CA1F1;
}

.unavailable-create-btn {
    background-color: var(--surface-tertiary-color);
}

.unavailable-create-btn>svg {
    fill: var(--text-tertiary-color);
}

.unavailable-create-btn>svg>path {
    fill: var(--text-tertiary-color);
}

.unavailable-create-btn:hover {
    cursor: not-allowed;
    border: 1px solid var(--text-tertiary-color);
}

.upload-btn>svg {
    display: block;
    fill: var(--text-secondary-color);
    flex-shrink: 0;
}

/* UPLOADED */
.uploaded>svg {
    transition: transform 300ms ease-out;
}

.uploaded>svg:hover {
    cursor: pointer;
    transform: translateY(-6px);
}