#footer {
    display: flex;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-large);
    gap: 33px;
}

svg>path {
    fill: var(--text-secondary-color);
}

svg:hover path {
    fill: var(--text-primary-color);
}